[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "3rdparty/OrbbecSDK_v2"]
	path = 3rdparty/OrbbecSDK_v2
	url = git@github.com:orbbec/OrbbecSDK_v2.git
