name: Build GDExtension
on:
  workflow_call:
  push:
  pull_request:
  merge_group:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { platform: linux, arch: x86_64, os: ubuntu-24.04 },
            { platform: windows, arch: x86_64, os: windows-latest },
          ]
        target-type: [template_debug, template_release]
#         float-precision: [single, double]  # TODO if someone ever asks for a build with the double version.

    runs-on: ${{ matrix.target.os }}
    steps:
      # Clone this repository
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: linux - build
        if: ${{ matrix.target.platform != 'windows' }}
        env:
          CODESIGN_APP_SECUREFILEPATH: ${{ inputs.apple-application-cert }}
        shell: bash
        run: |
          if [ "${{ matrix.target-type }}" = "template_release" ]; then
             BUILD_RELEASE=yes ./build.sh
          else
             ./build.sh
          fi

      - name: Windows - build
        if: ${{ matrix.target.platform == 'windows' }}
        shell: cmd
        run: |
          if "${{ matrix.target-type }}"=="template_release" (
             cmd /c "set BUILD_RELEASE=YES && call build_windows.cmd"
          ) else (
             cmd /c call "build_windows.cmd"
          )

      # Clean up compilation files
      - name: Windows - Delete compilation files
        if: ${{ matrix.target.platform == 'windows' }}
        shell: pwsh
        run: |
          Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force

      # Upload the build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-orbbec-${{ matrix.target.platform }}-${{ matrix.target.arch }}-${{ matrix.float-precision }}-${{ matrix.target-type }}
          path: |
            ${{ github.workspace }}/bin/**

#   # Merges all the build artifacts together into a single godot-cpp-template artifact.
#   # If you comment out this step, all the builds will be uploaded individually.
#   merge:
#     runs-on: ubuntu-22.04
#     needs: build
#     steps:
#       - name: Merge Artifacts
#         uses: actions/upload-artifact/merge@v4
#         with:
#           name: godot-cpp-template
#           pattern: godot-cpp-template-*
#           delete-merged: true
